{% extends "base2.html" %}

{% block content %}

    <section class="ftco-section">
        <h1 class="bread">Crear Blog Crianzas Complejas</h1>
		<div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/createBlog">

            <div class="title">
            	Título<br />
                <div class="control">
					<textarea rows="2" cols="120" name="title" id="title" value="" placeholder="Pensando en un titulo de ley" maxlength="200" style="width: auto; height: auto;" class="input-xxlarg" ></textarea>
				</div>
            </div>  

            <div class="field">
                Descripcion<br />
                <div class="control">
                    <textarea rows="3" cols="120" name="description" id="description" value="" placeholder="Descripcion" maxlength="300" style="width: auto; height: auto;" class="input-xxlarg" ></textarea>
                </div>
            </div>

           <div class="field">
                Texto HTML<br />
                <div class="control">
                    <textarea rows="40" cols="120" name="htmlText" id="htmlText" value="" placeholder="Texto" maxlength="6000" style="width: auto; height: auto;" class="input-xxlarg" ></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="checkbox" name="isPublished"> <label for="isPublished">Publicado?</label><br>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Crear</button>
        </form>
    </div>
	</section>
{% endblock %}